adium-theme-ubuntu==0.3.4
autopep8==1.2.4
cycler==0.9.0
Cython==0.23.4
decorator==4.0.6
f.lux-indicator-applet==1.1.8
gyp==0.1
importmagic==0.1.7
ipython==2.4.1
jedi==0.9.0
matplotlib==1.5.1
numpy==1.11.1
pandas==0.18.1
pep8==1.7.0
pexpect==4.0.1
Pillow==3.1.2
ptyprocess==0.5
py==1.4.31
pygobject==3.20.0
PyOpenGL==3.0.2
pyparsing==2.0.3
Pyste==0.9.10
pytest==2.8.7
python-dateutil==2.5.3
pytz==2016.6.1
pyxdg==0.25
scikit-learn==0.17.1
scipy==0.18.0
scour==0.32
simplegeneric==0.8.1
six==1.10.0
sklearn==0.0
unity-lens-photos==1.0
virtualenv==15.0.3
yapf==0.11.0
